#ALONE CODER
# from my.telegram.org/apps
API_ID=39099055
API_HASH=a359c570e96de41ec744d71b494fcb14

# from @BotFather on telegram
BOT_TOKEN=8980502774:AAG99vgTAKTeG6kt4Qrl_ydUvKJCZ1TunTc
LOGGER_ID=-1003099634050

# mongo url from cloud.mongodb.com
MONGO_URL=mongodb+srv://asur:asur@cluster0.q9v60fb.mongodb.net/yukki?retryWrites=true&w=majority

OWNER_ID=6158836385

# pyrogram session from @StringFatherBot on telegram
SESSION=

# limits for the bot
QUEUE_LIMIT=50
DURATION_LIMIT=5400
PLAYLIST_LIMIT=20




