#ALONE CODER
# from my.telegram.org/apps
API_ID=39099055
API_HASH=a359c570e96de41ec744d71b494fcb14

# from @BotFather on telegram
BOT_TOKEN=8980502774:AAG99vgTAKTeG6kt4Qrl_ydUvKJCZ1TunTc
LOGGER_ID=-1003099634050

# mongo url from cloud.mongodb.com
MONGO_URL=mongodb+srv://asur:asur@cluster0.q9v60fb.mongodb.net/yukki?retryWrites=true&w=majority

OWNER_ID=6158836385

# pyrogram session from @StringFatherBot on telegram
SESSION=BQJUmq8AMx-Mki7-3Emr0r65ZfzGiz6JCMqsl0DCUglOe9LVaSdVbFNgpHKIuZjzF8Rxa_ixxleF54OB84Pt3ZDBEolUG6hHjEIk6qoQFoQqefzmS1LmDERg35uNbZLQyHxlotGsPqGHdpr5z5j__hraW4evs2N3PBMtRtTYAYjd6oFMK8wFpIFW_C86utN-dCT3QUVZlH826cdimysS6aQbNG6ufGv83lS0pT1Q4QMA5yZE3R607IjPYSGXdWyjx9o2GOFzmXW0ioA-bo_Q0P0jAKzqOMzdO9LwrrJuM2kN43bXrdcMDFOu-l9oYxxBcExD8z44rlMUKUs9Sp4gcMJgPSTCDgAAAAFvGGKhAA
SESSION1=BQJUmq8AMx-Mki7-3Emr0r65ZfzGiz6JCMqsl0DCUglOe9LVaSdVbFNgpHKIuZjzF8Rxa_ixxleF54OB84Pt3ZDBEolUG6hHjEIk6qoQFoQqefzmS1LmDERg35uNbZLQyHxlotGsPqGHdpr5z5j__hraW4evs2N3PBMtRtTYAYjd6oFMK8wFpIFW_C86utN-dCT3QUVZlH826cdimysS6aQbNG6ufGv83lS0pT1Q4QMA5yZE3R607IjPYSGXdWyjx9o2GOFzmXW0ioA-bo_Q0P0jAKzqOMzdO9LwrrJuM2kN43bXrdcMDFOu-l9oYxxBcExD8z44rlMUKUs9Sp4gcMJgPSTCDgAAAAFvGGKhAA
# limits for the bot
QUEUE_LIMIT=50
DURATION_LIMIT=5400
PLAYLIST_LIMIT=20




